In [1]:
l1 = []
l2 = list()

In [2]:
l1 = [1,2,3,4,5,6]
l1[0:3]= 1000, 2000, 3000
print(l1)

[1000, 2000, 3000, 4, 5, 6]

# Adding items in list

In [3]:
words = ["echidna", "dingo", "crocodile", "bunyip"]
words.append("platypus")
words

['echidna', 'dingo', 'crocodile', 'bunyip', 'platypus']

In [16]:
l1 = [1,2,3,4,5,6]
l1.append([7,8,9])
l1 # here append method only added one item as a one list

[1, 2, 3, 4, 5, 6, [7, 8, 9]]

In [17]:
l1.insert(2,10) #(position, number)
l1

[1, 2, 10, 3, 4, 5, 6, [7, 8, 9]]

In [18]:
# if you want to add at last position
l1.insert(len(l1), 12)
l1

[1, 2, 10, 3, 4, 5, 6, [7, 8, 9], 12]

# If you want to add multiple items

In [5]:
l1 = [1,2,3,4,5,6]
l1.extend([7,8,9])
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
start = [1,2,3,4]
for item in [4,5,6]:
 start.append(item)
print(start)

[1, 2, 3, 4, 4, 5, 6]

# Insert

In [7]:
l1 = [1,2,3,4,6]
l1.insert(4,5) # so here in 4 position i have added 5
l1

[1, 2, 3, 4, 5, 6]

# Deleting items

In [8]:
l1 = [1,2,3,4,6,8]
del l1[-1]
l1

[1, 2, 3, 4, 6]

In [9]:
l1 = [1,2,3,4,6,8]
l1.remove(1)
l1

[2, 3, 4, 6, 8]

In [27]:
# suppose i have same number 5 times in a list, and i want to remove all. Here we need to use while loop.
l3 = [1,2,3,4,5,4,6,7,4,6,7,8,5] # here i want to remove all 4
l3 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

while 4 in l3:
    l3.remove(4)
while 7 in l3:
    l3.remove(7)

print(l3)

[1, 2, 3, 5, 6, 8, 9]

In [28]:
l3 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
l3 = list(filter(lambda x: x not in [4, 7], l3))
print(l3)

[1, 2, 3, 5, 6, 8, 9]

In [29]:
# lambda x: x not in [4, 7] is an anonymous function (lambda function) that takes one argument x and returns True if x is not equal to 4 or 7, and False otherwise.
# filter() applies this lambda function to each element in the list l3.
# The filter() function returns an iterator containing only the elements from l3 for which the lambda function returns True.
# list() is used to convert this iterator into a list, giving you the desired result.

In [20]:
l1 = [1,2,3,4,6,8]
l2 = l1.pop() # only pop last item
print(l1)
print(l2)

[1, 2, 3, 4, 6]
8

In [22]:
# if you want to pop first element
l2  = l1.pop(0)
l2

1

In [11]:
l1 = [1,2,3,4,6,8]
l1.clear()
l1

[]

# operation in list

In [12]:
l1 = [1,2,3,4,6,8]
l2 = l1*2
print(l2)
print(l1) # we took individual variable becuase multipication of 2 will not change the l1

[1, 2, 3, 4, 6, 8, 1, 2, 3, 4, 6, 8]
[1, 2, 3, 4, 6, 8]

In [13]:
l1 = [1,2,3,4,6,7]
l2 = [8,9,10,11,12]
l1+l2

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12]

In [14]:
l1 = [1,2,3,4,6,7,[8,9]]
8 in l1

False

In [15]:
l1 = [1,2,3,4,6,7,[8,9]]
[8,9] in l1

True

In [16]:
list = [[[1,2,3]],[[4,5,6],[7,8,9]]]
[4,5,6] in list[1]

True

In [17]:
list = [[[1,2,3]],[[4,5,6],[7,8,9]]]
#if you want to fetch 7 from list
list[1][1][0]

7

# List Function

In [18]:
#len, sort, sorted
l1 = [ 2,1,4,5,6,8,9,3]
l2 = sorted(l1)
print(l2)
l1.sort() # permanent
print(l1)

[1, 2, 3, 4, 5, 6, 8, 9]
[1, 2, 3, 4, 5, 6, 8, 9]

In [19]:
new_str = "\n".join(["fore", "aft", "starboard", "port"])
print(new_str)

fore
aft
starboard
port

In [1]:
l1 = list()
print(dir(l1))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [32]:
# index method
names = ['i', 'j','k', 'l','m']
names.index('i')

0

In [34]:
# count
l3 = [1, 2, 3, 4, 5, 4,6, 7, 8, 9]
l3.count(4)

2

In [45]:
# split() and join() not list method
str = "i am learning python"
l_1 = str.split()
l_1
str_1 = "-".join(l_1)
print(str_1)
print(type(str_1))

i-am-learning-python
<class 'str'>

In [46]:
l1 = [10,20,30,40]
l2 = [c*2 for c in l1]
print(l2)

[20, 40, 60, 80]

In [48]:
name = 'abarekadabra'
l4 = [char for char in name]
print(l4)

['a', 'b', 'a', 'r', 'e', 'k', 'a', 'd', 'a', 'b', 'r', 'a']

In [51]:
name = "laddo"
l5 = [(chr*3).upper() for chr in name]
l5

['LLL', 'AAA', 'DDD', 'DDD', 'OOO']

In [56]:
name = ["laddo", "paddo", "jaddo"]
l6 = [(item[::-1]).capitalize() for item in name]
l6

['Oddal', 'Oddap', 'Oddaj']

In [58]:
num = [1,2,3,4,5,6,7,8,9,10]
l7 = [ num_1 for num_1 in num if num_1% 2 ==0]
l7

[2, 4, 6, 8, 10]

In [5]:
 # if you want to convert number to sting
num = [1,2,3,4,5,6,7,8,9,10]
str_num = [str(n) for n in num]
print("-".join(str_num))

1-2-3-4-5-6-7-8-9-10

In [7]:
name_1 = ["aa","ba","aa","cca", "ba"]
name_2 = ["aa", "ba","da","ea"]
commom_in_name_1_and_name_2 = [n for n in name_1 if n in name_2]
commom_in_name_1_and_name_2

['aa', 'ba', 'aa', 'ba']

In [11]:
name_1 = ["aa","ba","aa","cca", "ba"]
name_2 = ["Aa", "Ba","da","ea"]
commom_in_name_1_and_name_2 = [n.lower() for n in name_2 if n.lower() in name_1]
commom_in_name_1_and_name_2

['aa', 'ba']

# Questions

In [21]:
#Create a Python script that removes all the occurrences of a given element of a list.
l1 = [1, 2, 1, 1, 2, 3, 1, 5, 3, 5, 1]
while 1 in l1:
    l1.remove(1)
print(l1)    

#or

l1 = list(filter(lambda x: x not in [1], l1))
print(l2)

[2, 2, 3, 5, 3, 5]
(<function <lambda> at 0x112935e40>, [2, 2, 3, 5, 3, 5])

In [23]:
#Create a Python script that removes all the elements of a list that are duplicates.
l1 = [1, 2, 1, 1, 2, 3, 1, 5, 3, 5, 1]
unique_list = []
for item in l1:
    if item not in unique_list:
        unique_list.append(item)

print(unique_list)

[1, 2, 3, 5]

In [33]:
# Consider the following string: nums = '10,20,30,40,50'
# Create a Python script that creates a list of integers from the string.
# The resulting list will be: [10, 20, 30, 40, 50]
string_nums = '10,20,30,40,50'
list_1 = string_nums.split()
print(type(list_1))

<class 'list'>

In [8]:
# Write a program that prompts the user for a long string containing multiple words separated by whitespaces and prints back the same string with the words in backward order.
# For example, say I type the string: My name is Andrei
# Then the script should print out: Andrei is name My
str_1 = " My name is Andrei"
list_1 = str_1.split()
list_2 = list_1[::-1]
str_2 = " ".join(list_2)
print(str_2)

Andrei is name My

In [18]:
# Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.
# Sample input string : green-red-yellow-black-white
# Expected Result : black-green-red-white-yellow
string = input("Enter a hyphen-separated string: ")
words = string.split("-")
sorted_words = sorted(words)
sorted_str = "-".join(sorted_words)

print(sorted_str)

Enter a hyphen-separated string:  green-red-yellow-black-white

black-green-red-white-yellow

In [23]:
# Write a Python program that accepts as input a sequence of words separated by one or more whitespaces and prints out the same words with the letters in reversed order. Do not use list comprehension.
# Sample input string: I love cat and dogs
# Expected Result: I evol tac dna sgod
string = input("Enter a whitesseparated string: ")
words = string.split(" ")
rev_word = [ n[::-1] for n in words]
" ".join(rev_word)
rev_word

Enter a whitesseparated string:  I love cat and dogs

'I evol tac dna sgod'

In [38]:
# Create a Python script that calculates and displays the number of occurrences of each element of a list.
# Sample list: list('mamma mia mm')
# Expected Result:
# m ---> 6
# a ---> 3
# ---> 2
# i ---> 1
sample_list = list('mamma mia mm')
list_count = []
for item in set(sample_list):
    count = sample_list.count(item)
    list_count.append((item,count))
    
print(list_count)

[('i', 1), ('m', 6), (' ', 2), ('a', 3)]

In [40]:
# Consider a list of words(strings). Write a Python script that generates a list of tuples where the first element of the tuple is the word in the list and the second element is its length.
# Use list comprehension if possible.
# Sample List: words = ['Python', 'Java', 'C++', 'Golang', 'Solidity', 'Bash']
# Expected Result: [('Python', 6), ('Java', 4), ('C++', 3), ('Golang', 6), ('Solidity', 8), ('Bash', 4)]
Sample_List_words = ['Python', 'Java', 'C++', 'Golang', 'Solidity', 'Bash']
Expected_Result = [len(n) for n in Sample_List_words]
Expected_Result

[6, 4, 3, 6, 8, 4]